<!DOCTYPE html>

<html lang="en">


<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/quemsomos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Quem Somos</title>
</head>

<body class="corpo">

    <div>
        <h1 class="titulo-quem-somos">Quem Somos</h1>
    </div>

    <main class="container justify-content-center">


        <div class="Div-baixa">
            <h6>
                <p>Detective Conan (名探偵コナン Meitantei Konan?), mais conhecido como Case Closed nos Estados Unidos, é um
                    mangá de mistério japonês escrito e ilustrado por Gosho Aoyama. É serializado na revista Weekly
                    Shōnen Sunday da Shogakukan desde janeiro de 1994, e foi compilado em 99 volumes tankōbon até maio
                    de 2021. Devido a problemas legais com o nome Detective Conan, as versões em inglês de Detective
                    Conan feitas pela Funimation e Viz foram renomeadas para Case Closed. A história segue o detetive
                    colegial Shinichi Kudo (renomeado como Jimmy Kudo em várias traduções para o inglês) que se
                    transformou em uma criança enquanto investigava uma organização misteriosa. Enquanto criança,
                    resolve uma infinidade de casos enquanto personificava o pai de sua melhor amiga de infância e
                    outros personagens.</p>

                <p>O mangá foi adaptado para uma série de anime para televisão pela Yomiuri Telecasting Corporation e
                    TMS Entertainment, que estreou em janeiro de 1996. O anime resultou em longas-metragens de animação,
                    animações de vídeo originais, videogames, lançamentos de discos de áudio e episódios de live action.
                    A Funimation licenciou a série de anime para transmissão na América do Norte em 2003 sob o nome de
                    Case Closed com os personagens recebendo nomes americanizados. O anime estreou no Adult Swim, mas
                    logo foi descontinuado devido à baixa audiência. Em março de 2013, a Funimation começou a transmitir
                    seus episódios licenciados de Case Closed; A Crunchyroll em 2014. A Funimation também localizou os
                    primeiros seis filmes de Case Closed, enquanto a Discotek Media localizou o crossover especial Lupin
                    III, sua sequência de filmes e filmes recentes selecionados, começando com Case Closed Episode One.
                    Enquanto isso, o mangá foi localizado pela Viz Media, que usou o título e os mesmos nomes dos
                    personagens alterados pela Funimation. A Shogakukan Asia fez sua própria versão localizada do mangá
                    em inglês, que usava o título original e os nomes japoneses.</p>

                <p>Os volumes tankōbon do mangá tinham mais de 230 milhões de cópias em circulação em todo o mundo em
                    2018, tornando-se a quinta série de mangá mais vendida de todos os tempos. Em 2001, o mangá recebeu
                    o 46º Prêmio Shogakukan Manga na categoria shōnen. A adaptação do anime foi bem recebida e
                    classificada entre as 20 primeiras nas pesquisas da Animage entre 1996 e 2001. No ranking da
                    televisão japonesa de anime, os episódios de Detective Conan normalmente ficam entre os seis
                    primeiros episódios com maior audiência da semana. Tanto o mangá quanto o anime tiveram respostas
                    positivas dos críticos por seu enredo e seus casos. O mangá foi vendido em 25 países, enquanto o
                    anime foi transmitido em 40 países.</p>
            </h6>



        </div>

        <div class="container">
            <img class="img-principal" src="../../public/img/macacode.svg" alt="Imagem-principal">

        </div>


        <div class="row justify-content-center align-content-center p-0 m-0">
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="../../public/img/macacode.svg" alt="Card-missao">
                <div class="card-body">
                    <h5 class="card-title text-center">Missão</h5>
                    <p class="card-text">Oferecer produtos e serviços de qualidade para todo o Brasil, afim de melhorar
                        a
                        qualidade de vida dos pets.</p>

                </div>
            </div>

            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="../../public/img/macacode.svg" alt="Card-visao">
                <div class="card-body">
                    <h5 class="card-title text-center">Visão</h5>
                    <p class="card-text">Ser referência no Brasil como um petshop de alta qualidade e confiabilidade.
                    </p>
                </div>
            </div>

            <div class="card m-2" style="width: 18rem;">
                <img class="card-top" src="../../public/img/macacode.svg" alt="Card-valores">
                <div class="card-body">
                    <h5 class="card-title text-center">Valores</h5>
                    <p class="card-text text-center">Orgulho de fazer parte da equipe,ter humildade,além de ser uma
                        prestadora de
                        serviços de qualidade. </p>
                </div>
            </div>
        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>