<!DOCTYPE html>

<html lang="en">

<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Produto</title>
  <link rel="stylesheet" href="../../public/css/view-produto.css">

</head>




<body>

  <div class="navbar">
    <!--Aqui é onde ficará a Navbar-->
    <h2>NAVBAR</h2>
  </div>





  <div class="container">
    <div class="caminho">
      <ul>
        <li><a href="#">Home</a></li>
        <li> > </li>
        <li><a href="#">Produtos</a></li>
        <li> > </li>
        <li><a href="#">Categoria</a></li>
        <li> > </li>
        <li>Nome do Produto</li>
      </ul>
    </div>
  </div>



  <div class="container">
    <div class="card-produto">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">


            <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
              data-bs-interval="false">

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../public/img/macacode.svg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../public/img/macacode.svg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../public/img/macacode.svg" class="d-block w-100" alt="...">
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>

              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>


          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Nome do Produto</h5>
              <p class="card-text">Preço do Produto</p>
              <p class="card-text"><small class="text-muted">Clique nas laterais da imagem para visualizar este
                  produto</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="informacoes-produto">
      <h3>Descrição</h3>
      <hr>
      <p>Inspired by Paris, the new Cest la Vie 2021 collection brought exclusive pieces that reflect the refinement and
        unique style of the city of love.
        Modern and extremely comfortable, the leotard SD-1644 has long sleeves made of canvas, which in addition to
        bringing the difference to the piece, guarantees total breathability.</p>
      <p>Classic ballerina warming pants have also been redesigned with the French touch from the "Cest la Vie 2021"
        collection. The stripes in bright colors bring style and elegance, making the piece desired and ideal for those
        looking for comfort when performing the movements.</p>

      <h3>Informações</h3>
      <hr>
      <p>Perfect combination of soft fabric, with modeling that provides total comfort and freedom for both your dance
        classes and your day-to-day life, the Legging Pants SD-1443 is a key piece and a wildcard in the wardrobe.</p>
    </div>
  </div>






  <div class="footer">
    <!--Aqui é onde ficará o Footer-->
    <h2>FOOTER</h2>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>