<!DOCTYPE html>

<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View ADM Produtos</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../public/css/view-adm-produtos.css">
</head>




<body>

  <!--Espaço da barra de Pesquisa-->
  <nav class="navbar navbar-light bg-light nav-search">
    <div class="container-fluid">
      <form class="d-flex justify-content-end bar-search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary bottom-add" type="submit">lupa</button>
      </form>
    </div>
  </nav>
  <!--Fim do espaço da barra de Pesquisa-->


  <!--Espaço do botão de Adicionar Produto-->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <!-- Button modal adicionar produto-->
    <button type="button" class="btn btn-success bottom-options" data-bs-toggle="modal" data-bs-target="#AddProdut">
      <b>+Add</b>
    </button>

  </div>
  <!--Fim do espaço para o acréscimo de novos produtos-->


  <!--Tabela de Gerenciamento dos Produtos-->
  <div class="container">
    <table class="table table-hover justify-content-center align-items-center product-table">

      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><b>Nome do Produto</b></th>
          <th></th>
        </tr>
      </thead>



      <tbody>

        <!--Início da parte que será cópia para as outras-->
        <tr>
          <th scope="row justify-content-center align-items-center">1</th>
          <td class="justify-content-start name-itens-table">Product Name</td>
          <div class="d-grid gap-2 d-md-block">
            <td class="d-flex justify-content-end colum-bottons-table">

              <!-- Button modal editar produto -->
              <button type="button" class="btn btn-primary bottom-options" data-bs-toggle="modal"
                data-bs-target="#EditarProd">
                Ed
              </button>

              <!-- Button modal visualizar produto -->
              <button type="button" class="btn btn-secondary bottom-options" data-bs-toggle="modal"
                data-bs-target="#VisualizarProd">
                Vis
              </button>

              <!-- Button modal exclui produto-->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ExcluiProd">
                Ex
              </button>
            </td>

          </div>
        </tr>
        <!--Fim da real parte que eu estou mexendo-->







        <!--Continuação da Tabela apenas para visualização-->
        <tr>
          <th scope="row justify-content-center align-items-center">2</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block">
            <td class="d-flex justify-content-end colum-bottons-table">

              <!-- Button modal editar produto -->
              <button type="button" class="btn btn-primary bottom-options" data-bs-toggle="modal"
                data-bs-target="#EditarProd">
                Ed
              </button>

              <!-- Button modal visualizar produto -->
              <button type="button" class="btn btn-secondary bottom-options" data-bs-toggle="modal"
                data-bs-target="#VisualizarProd">
                Vis
              </button>

              <!-- Button modal exclui produto-->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ExcluiProd">
                Ex
              </button>
            </td>

          </div>
        </tr>



        <tr>
          <th scope="row justify-content-center align-items-center">3</th>
          <td>Produtinho com Nome Grande para Teste</td>
          <div class="d-grid gap-2 d-md-block">
            <td class="d-flex justify-content-end colum-bottons-table">

              <!-- Button modal editar produto -->
              <button type="button" class="btn btn-primary bottom-options" data-bs-toggle="modal"
                data-bs-target="#EditarProd">
                Ed
              </button>

              <!-- Button modal visualizar produto -->
              <button type="button" class="btn btn-secondary bottom-options" data-bs-toggle="modal"
                data-bs-target="#VisualizarProd">
                Vis
              </button>

              <!-- Button modal exclui produto-->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ExcluiProd">
                Ex
              </button>
            </td>

          </div>
        </tr>



        <tr>
          <th scope="row justify-content-center align-items-center">4</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block">
            <td class="d-flex justify-content-end colum-bottons-table">

              <!-- Button modal editar produto -->
              <button type="button" class="btn btn-primary bottom-options" data-bs-toggle="modal"
                data-bs-target="#EditarProd">
                Ed
              </button>

              <!-- Button modal visualizar produto -->
              <button type="button" class="btn btn-secondary bottom-options" data-bs-toggle="modal"
                data-bs-target="#VisualizarProd">
                Vis
              </button>

              <!-- Button modal exclui produto-->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ExcluiProd">
                Ex
              </button>
            </td>

          </div>
        </tr>




        <tr>
          <th scope="row justify-content-center align-items-center">5</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block">
            <td class="d-flex justify-content-end colum-bottons-table">

              <!-- Button modal editar produto -->
              <button type="button" class="btn btn-primary bottom-options" data-bs-toggle="modal"
                data-bs-target="#EditarProd">
                Ed
              </button>

              <!-- Button modal visualizar produto -->
              <button type="button" class="btn btn-secondary bottom-options" data-bs-toggle="modal"
                data-bs-target="#VisualizarProd">
                Vis
              </button>

              <!-- Button modal exclui produto-->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ExcluiProd">
                Ex
              </button>
            </td>

          </div>
        </tr>




        <tr>
          <th scope="row justify-content-center align-items-center">6</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block">
            <td class="d-flex justify-content-end colum-bottons-table">

              <!-- Button modal editar produto -->
              <button type="button" class="btn btn-primary bottom-options" data-bs-toggle="modal"
                data-bs-target="#EditarProd">
                Ed
              </button>

              <!-- Button modal visualizar produto -->
              <button type="button" class="btn btn-secondary bottom-options" data-bs-toggle="modal"
                data-bs-target="#VisualizarProd">
                Vis
              </button>

              <!-- Button modal exclui produto-->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ExcluiProd">
                Ex
              </button>
            </td>

          </div>
        </tr>




      </tbody>
    </table>
  </div>
  <!--Fim da Tabela de Produtos-->






  <!---------------------------------------Modais----------------------------------------------->

  <!-- Modal Adicionar Produto -->
  <div class="modal fade" id="AddProdut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Adicionar Produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form class="row g-3">
            <div class="col-md-8">
              <label for="inputNameAddProdut" class="form-label">Nome</label>
              <input type="text" class="form-control" id="inputNameAddProdut" placeholder="Insira o nome do produto">
            </div>
            <div class="col-md-4">
              <label for="inputPrecoAddProdut" class="form-label">Preço</label>
              <input type="text" class="form-control" id="inputPrecoAddProdut" placeholder="R$99,99">
            </div>
            <div class="col-12">
              <label for="inputDescritionAddProdut" class="form-label">Descrição do Produto</label>
              <textarea class="form-control" id="inputDescritionAddProdut" rows="3"
                placeholder="O que é, o que faz..."></textarea>
            </div>
            <div class="col-12">
              <label for="inputInfoAddProdut" class="form-label">Informações sobre o Produto</label>
              <textarea class="form-control" id="inputInfoAddProdut" rows="3"
                placeholder="Composição do produto, rendimento..."></textarea>
            </div>
            <div class="col-12">
              <label for="inputImage1AddProdut" class="form-label">Imagem 1</label>
              <input type="text" class="form-control" id="inputImage1AddProdut"
                placeholder="Insira o nome da imagem 1 do produto">
            </div>
            <div class="col-12">
              <label for="inputImage2AddProdut" class="form-label">Imagem 2</label>
              <input type="text" class="form-control" id="inputImage2AddProdut"
                placeholder="Insira o nome da imagem 2 do produto">
            </div>
            <div class="col-12">
              <label for="inputImage3AddProdut" class="form-label">Imagem 3</label>
              <input type="text" class="form-control" id="inputImage3AddProdut"
                placeholder="Insira o nome da imagem 3 do produto">
            </div>
            <div class="col-md-4">
              <label for="inputCategoryAddProdut" class="form-label">Categoria</label>
              <select id="inputCategoryAddProdut" class="form-select">
                <option selected>Insira a categoria do produto...</option>
                <option>Categoria 1</option>
                <option>Categoria 2</option>
                <option>Categoria 3</option>
                <option>Categoria 4</option>
                <option>Categoria 5</option>
              </select>
            </div>
        </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bottom-options" data-bs-dismiss="modal">Sair</button>
          <button type="button" class="btn btn-primary bottom-options">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fim do modal de adicionar-->


  <!-- Modal Editar Produto -->
  <div class="modal fade" id="EditarProd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar Produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form class="row g-3">
            <div class="col-md-8">
              <label for="inputNameProdut" class="form-label">Nome</label>
              <input type="text" class="form-control" id="inputNameProdut" placeholder="Insira o nome do produto">
            </div>
            <div class="col-md-4">
              <label for="inputPrecoProdut" class="form-label">Preço</label>
              <input type="text" class="form-control" id="inputPrecoProdut" placeholder="R$99,99">
            </div>
            <div class="col-12">
              <label for="inputDescritionProdut" class="form-label">Descrição do Produto</label>
              <textarea class="form-control" id="inputDescritionProdut" rows="3"
                placeholder="O que é, o que faz..."></textarea>
            </div>
            <div class="col-12">
              <label for="inputInfoProdut" class="form-label">Informações sobre o Produto</label>
              <textarea class="form-control" id="inputInfoProdut" rows="3"
                placeholder="Composição do produto, rendimento..."></textarea>
            </div>
            <div class="col-12">
              <label for="inputImage1Produt" class="form-label">Imagem 1</label>
              <input type="text" class="form-control" id="inputImage1Produt"
                placeholder="Insira o nome da imagem 1 do produto">
            </div>
            <div class="col-12">
              <label for="inputImage2Produt" class="form-label">Imagem 2</label>
              <input type="text" class="form-control" id="inputImage2Produt"
                placeholder="Insira o nome da imagem 2 do produto">
            </div>
            <div class="col-12">
              <label for="inputImage3Produt" class="form-label">Imagem 3</label>
              <input type="text" class="form-control" id="inputImage3Produt"
                placeholder="Insira o nome da imagem 3 do produto">
            </div>
            <div class="col-md-4">
              <label for="inputCategoryProdut" class="form-label">Categoria</label>
              <select id="inputCategoryProdut" class="form-select">
                <option selected>Insira a categoria do produto...</option>
                <option>Categoria 1</option>
                <option>Categoria 2</option>
                <option>Categoria 3</option>
                <option>Categoria 4</option>
                <option>Categoria 5</option>
              </select>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bottom-options" data-bs-dismiss="modal">Sair</button>
          <button type="button" class="btn btn-primary bottom-options">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fim do modal de editar-->


  <!-- Modal Visualizar Produto-->
  <div class="modal fade" id="VisualizarProd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Visualize o Produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <fieldset disabled>
            <form class="row g-3">
              <div class="col-md-8">
                <label for="VisNameProdut" class="form-label">Nome</label>
                <input type="text" class="form-control" id="VisNameProdut" placeholder="Nome do produto">
              </div>
              <div class="col-md-4">
                <label for="VisPrecoProdut" class="form-label">Preço</label>
                <input type="text" class="form-control" id="VisPrecoProdut" placeholder="R$99,99">
              </div>
              <div class="col-12">
                <label for="VisDescritionProdut" class="form-label">Descrição do Produto</label>
                <textarea class="form-control" id="VisDescritionProdut" rows="3"
                  placeholder="É paranram paranram e faz pipipi popopo. Serve pra isso, isso e aquilo."></textarea>
              </div>
              <div class="col-12">
                <label for="VisInfoProdut" class="form-label">Informações sobre o Produto</label>
                <textarea class="form-control" id="VisInfoProdut" rows="3" placeholder="Fogo, Terra, Água, Ar.    
                        
                -Feito com amor pelo Capitão Planeta"></textarea>
              </div>
              <div class="col-12">
                <label for="VisImage1Produt" class="form-label">Imagem 1</label>
                <input type="text" class="form-control" id="VisImage1Produt" placeholder="Nome da imagem 1">
              </div>
              <div class="col-12">
                <label for="VisImage2Produt" class="form-label">Imagem 2</label>
                <input type="text" class="form-control" id="VisImage2Produt" placeholder="Nome da imagem 2">
              </div>
              <div class="col-12">
                <label for="VisImage3Produt" class="form-label">Imagem 3</label>
                <input type="text" class="form-control" id="VisImage3Produt" placeholder="Nome da imagem 3">
              </div>
              <div class="col-md-4">
                <label for="VisCategoryProdut" class="form-label">Categoria</label>
                <select id="VisCategoryProdut" class="form-select">
                  <option selected>Insira a categoria do produto...</option>
                  <option>Categoria 1</option>
                  <option>Categoria 2</option>
                  <option>Categoria 3</option>
                  <option>Categoria 4</option>
                  <option>Categoria 5</option>
                </select>
              </div>
            </form>
          </fieldset>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bottom-options" data-bs-dismiss="modal">Sair</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fim do modal de visulizar-->


  <!-- Modal excluir produto-->
  <div class="modal fade" id="ExcluiProd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Excluir Produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-center">Gostaria de excluir esse produto?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bottom-options" data-bs-dismiss="modal">Sair</button>
          <button type="button" class="btn btn-primary bottom-options">Excluir</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fim do modal de excluir-->


  <!--------------------------------------------------------------------------------------------->


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>