<!DOCTYPE html>

<html lang="en">

<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Produto</title>
  <link rel="stylesheet" href="../../public/css/view-produto.css">
  <link rel="stylesheet" href="../../public/css/navbarft.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

</head>




<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark shadow bg-blue">
        <div class="container">

            <a href="#" class="d-flex align-items-center mb-0 text-decoration-none">
                <img class="logo-navbar p-0 m-0" src="../../public/assets/Logo escrita.png">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-item nav-link links-navbar" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-item nav-link links-navbar" href="produtos.html">Produtos</a></li>
                    <li class="nav-item"><a class="nav-item nav-link links-navbar" href="contato.html">Contato</a></li>
                    <li class="nav-item"><a class="nav-item nav-link links-navbar" href="#">Quem Somos</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>





  <div class="container">
    <div class="caminho">
      <ul>
        <li><a href="produtos.html">Produtos</a></li>
        <li> > </li>
        <li>Nome do Produto</li>
      </ul>
    </div>
  </div>



  <div class="container card-prod">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="card mb-3 p-2">
          <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-6">


              <div class="carousel carousel-dark slide mb-0" data-bs-ride="carousel" id="carousel">
                <div class="carousel-indicators">
                  <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
                    data-bs-target="#carousel" type="button"></button>
                  <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carousel" type="button"></button>
                  <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carousel" type="button"></button>
                </div>
                <div class="carousel-inner rounded">
                  <div class="carousel-item active" data-bs-interval="7000">
                    <img alt="Dog 1" src="../../public/img/macacode.svg">
                  </div>
                  <div class="carousel-item" data-bs-interval="7000">
                    <img alt="Dog 2" src="../../public/img/macacode.svg">
                  </div>
                  <div class="carousel-item" data-bs-interval="7000">
                    <img alt="Dog 3" src="../../public/assets/MyCão escrito em fundo amarelo.png">
                  </div>
                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carousel" type="button">
                  <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carousel" type="button">
                  <span aria-hidden="true" class="carousel-control-next-icon"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>


            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="card-body px-0">
                <h5 class="card-title"><b>Nome do Produto</b></h5>
                <p class="card-text"><b>R$99,99</b></p>
                <ul>
                  <li>Categoria</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="informacoes-produto">
      <h3>Descrição</h3>
      <hr>
      <p>Inspired by Paris, the new Cest la Vie 2021 collection brought exclusive pieces that reflect the refinement and
        unique style of the city of love.
        Modern and extremely comfortable, the leotard SD-1644 has long sleeves made of canvas, which in addition to
        bringing the difference to the piece, guarantees total breathability.</p>
      <p>Classic ballerina warming pants have also been redesigned with the French touch from the "Cest la Vie 2021"
        collection. The stripes in bright colors bring style and elegance, making the piece desired and ideal for those
        looking for comfort when performing the movements.</p>

      <h3>Informações</h3>
      <hr>
      <p>Perfect combination of soft fabric, with modeling that provides total comfort and freedom for both your dance
        classes and your day-to-day life, the Legging Pants SD-1443 is a key piece and a wildcard in the wardrobe.</p>
    </div>
  </div>






  <footer class="py-4 mt-4 bg-blue">
    <div class="container">
        <div class="row border-bottom justify-content-center align-items-center m-0 mb-4">
            <ul class="nav justify-content-center mb-4">
                <li class="nav-item"><a href="#" class="nav-link px-2 links-footer">Início</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 links-footer">Sobre Nós</a></li>
                <li class="nav-item"><a href="produtos.html" class="nav-link px-2 links-footer">Nossos Produtos</a></li>
                <li class="nav-item"><a href="contato.html" class="nav-link px-2 links-footer">Fale Conosco</a></li>
            </ul>
        </div>


        <div class="row justify-content-center align-items-center m-0 mb-2">
            <div class="col-md-8 col-12">
                <p class="text-center my-2 texto-footer">Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem
                    accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur.</p>
            </div>
        </div>


        <div class="row justify-content-center align-items-center m-0 mb-2">
            <div class="col-md-8 col-12">
                <div class="row justify-content-center align-items-center m-0 mb-2">

                    <ul class="nav justify-content-center m-0 p-0">
                        <li class="nav-item"><a href="#" class="nav-link px-2 links-footer"><i
                                    class="fas fa-envelope redes-sociais"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 links-footer"><i
                                    class="fab fa-instagram redes-sociais"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 links-footer"><i
                                    class="fab fa-twitter redes-sociais"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 links-footer"><i
                                    class="fab fa-whatsapp redes-sociais"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 links-footer"><i
                                    class="fab fa-facebook redes-sociais"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="row justify-content-center align-items-center m-0">
            <p class="text-center text-muted m-0 p-0 mt-2">© 2021 Code Jr</p>
        </div>


    </div>
</footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>