<!DOCTYPE html>
<html lang="en">

<head>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visão Administrativa das categorias</title>
        <link rel="stylesheet" href="../../public/css/view-produto.css">
      
      </head>


      <body>
        
        <div class="navbarT">
           
            <h2 class="d-flex justify-content-center">NAVBAR</h2>
          </div>
  
          
      
        <div class="footer">
          
            <h2>FOOTER</h2>
          </div>
        
        
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


</body>

</html>