<!DOCTYPE html>

<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View ADM Produtos</title>
  <link rel="stylesheet" href="../../public/css/view-adm-produtos.css">
</head>




<body>

  <!--Espaço da barra de Pesquisa-->
  <nav class="navbar navbar-light bg-light nav-search">
    <div class="container-fluid">
      <form class="d-flex justify-content-end bar-search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary bottom-add" type="submit">lupa</button>
      </form>
    </div>
  </nav>
  <!--Fim do espaço da barra de Pesquisa-->


  <!--Espaço do botão de Adicionar Produto-->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-success me-md-2" type="button"><b>+Add</b></button>
  </div>
  <!--Fim do espaço para o acréscimo de novos produtos-->


  <!--Tabela de Gerenciamento dos Produtos-->
  <div class="container">
    <table class="table table-hover justify-content-center align-items-center product-table">

      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><b>Nome do Produto</b></th>
          <th></th>
        </tr>
      </thead>



      <tbody>

        <!--Início da parte que será cópia para as outras-->
        <tr>
          <th scope="row justify-content-center align-items-center">1</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block">
            <td class="d-flex justify-content-end colum-bottons-table">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary bottom-options" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                Ed
              </button>

              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Editar Produto</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <form class="row g-3">
                        <div class="col-md-6">
                          <label for="inputEmail4" class="form-label">Nome do Produto</label>
                          <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-6">
                          <label for="inputPassword4" class="form-label">Preço</label>
                          <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-12">
                          <label for="inputAddress" class="form-label">Descrição</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                          <label for="inputAddress2" class="form-label">Informações</label>
                          <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-4">
                          <label for="inputState" class="form-label">Categoria</label>
                          <select id="inputState" class="form-select">
                            <option selected>Escolha...</option>
                            <option>Categoria 1</option>
                            <option>Categoria 2</option>
                            <option>Categoria 3</option>
                            <option>Categoria 4</option>
                            <option>Categoria 5</option>
                          </select>
                        </div>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-secondary bottom-options">Vis</button>
              <button type="button" class="btn btn-danger bottom-options">Ex</button>
            </td>

          </div>
        </tr>
        <!--Fim da real parte que eu estou mexendo-->







        <!--Continuação da Tabela apenas para visualização-->
        <tr>
          <th scope="row justify-content-center align-items-center">1</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block bottom-options">
            <td class="d-flex justify-content-end colum-bottons-table">
              <button class="btn btn-primary" type="button">Ed</button>
              <button class="btn btn-secondary" type="button">Vis</button>
              <button class="btn btn-danger" type="button">Ex</button>
            </td>
          </div>
        </tr>

        <tr>
          <th scope="row justify-content-center align-items-center">1</th>
          <td>Produtinho com Nome Grande para Teste</td>
          <div class="d-grid gap-2 d-md-block bottom-options">
            <td class="d-flex justify-content-end colum-bottons-table">
              <button class="btn btn-primary" type="button">Ed</button>
              <button class="btn btn-secondary" type="button">Vis</button>
              <button class="btn btn-danger" type="button">Ex</button>
            </td>
          </div>
        </tr>

        <tr>
          <th scope="row justify-content-center align-items-center">1</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block bottom-options">
            <td class="d-flex justify-content-end colum-bottons-table">
              <button class="btn btn-primary" type="button">Ed</button>
              <button class="btn btn-secondary" type="button">Vis</button>
              <button class="btn btn-danger" type="button">Ex</button>
            </td>
          </div>
        </tr>

        <tr>
          <th scope="row justify-content-center align-items-center">1</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block bottom-options">
            <td class="d-flex justify-content-end colum-bottons-table">
              <button class="btn btn-primary" type="button">Ed</button>
              <button class="btn btn-secondary" type="button">Vis</button>
              <button class="btn btn-danger" type="button">Ex</button>
            </td>
          </div>
        </tr>

        <tr>
          <th scope="row justify-content-center align-items-center">1</th>
          <td>Product Name</td>
          <div class="d-grid gap-2 d-md-block bottom-options">
            <td class="d-flex justify-content-end colum-bottons-table">
              <button class="btn btn-primary" type="button">Ed</button>
              <button class="btn btn-secondary" type="button">Vis</button>
              <button class="btn btn-danger" type="button">Ex</button>
            </td>
          </div>
        </tr>

      </tbody>
    </table>
  </div>
  <!--Fim da Tabela de Produtos-->



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>