:root {
    --azul-escuro: #022049;
    --laranja: #F4A630;
    --azul-claro: #AFCBFF;
}

.logo-mycao-login{
    max-width: 200px;
    margin-top: 40px;
}

.formulario-login{
    padding-top: 60px;
    width: 80%;
    margin: auto;
    vertical-align: middle;
    height: 400px;
    color:white;
    border-color: black;
    
}

.agrupamento-formulario{
  padding: 20px;
}
.botao-login{
    margin-left: 20px;
    border-color:#022049;
    
}
.label-login{
    padding-bottom: 5px;
}

.card-form-login{
    border: 2px solid #eaedf3;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgb(122 121 121 / 25%);
    margin-bottom: 8%;
    background-color:#022049;
}

.teste{
    color: #022049;
}