:root {
    --azul-escuro: #022049;
    --laranja: #F4A630;
    --azul-claro: #AFCBFF;
}

.logo-mycao-login{
    max-width: 200px;
}

.formulario-login{
    padding-top: 60px;
    width: 80%;
    margin: auto;
    vertical-align: middle;
    height: 400px;
    color: black;
    border-color: black;
}

.agrupamento-formulario{
  padding: 20px;
}
.botao-login{
    margin-left: 20px;
    border-color:#022049;
    
}
.label-login{
    padding-bottom: 5px;
}