.bg-blue {
    background-color: #022049 !important;
}

.navbar a {
    text-align: right !important;
    height: 45px;
    margin-right: 40px;
}

.links-navbar {
    color: #F4A630 !important;
}

.links-navbar:hover {
    color: white !important;
}

.logo-navbar  {
    width: 230px;
    height: 230px;
    overflow: hidden !important;
}

.navbar-brand {
    margin-top: 0px !important;
}





.conteudo_site {
    background-color: white !important;
    height: 1000px;
}





.links-footer {
    color: #F4A630 !important;
}

.links-footer:hover {
    color: white !important;
}

.texto-footer {
    color: #AFCBFF;
}

.redes-sociais {
    font-size: 24px;
}





@media (max-width: 1000px) {

    .links-navbar {
        margin-right: 2% !important;
    }

    .logo-navbar {
        text-align: left;
        width: 200px;
        height: 230px;
    }

}

