:root {
    --azul-escuro: #022049;
    --laranja: #F4A630;
    --azul-claro: #AFCBFF;
}


.titulo-quem-somos{
      text-align: center;
      color: black ;
     

}


.corpo{
    background-color: white;
    color: black;
}


.texto-principal{
  text-align: justify;
}

.img-principal{
    border: transparent thin solid;
    padding: 5px;
    max-width: 600px;
}


.icones-card-quemsomos{
    font-size : 50px;
}