.navbar {
    background-color: #022049;
    margin-bottom: 40px;
}

.navbar-text {
    color: #F4A630;
    padding-left: 0;
    margin: auto;
    font-size: 40px;
    list-style: none;
}

.username {
    color: #F4A630;
    font-weight: bold;
}

.btn {
    background-color: #F4A630;
    transition: 0.3s ease;
    border-color: #F4A630;
}

.btn:hover {
    background-color: #022049;
    transition: 0.3s ease;
    border-color: #022049;
}

.btn:focus {
    background-color: #022049;
    transition: 0.3s ease;
    border-color: #022049;
}

i {
    font-size: 50px;
}

.card-title {
    font-size: 20px ;
}