.navbar {
    background-color: #022049;
    margin-bottom: 40px;
}

.navbar-text {
    color: #F4A630;
    padding-left: 0;
    margin: auto;
    font-size: 40px;
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
}

h1, h2 {
    font-weight: 700;
}

.username {
    color: #F4A630;
}
    body {
    background-color: #e1e8ff;
}

.texto-contato {
    margin-top: 40px;
    font-size: 40px;
    color: #022049;
}

.vias-contato {
    color: #022049;
}

.vias-contato a{
    color: #022049;
    text-decoration: none;
    transition: 0.3s ease;
}

.vias-contato a:hover{
    color: #F4A630;
    transition: 0.3s ease;
}

.vias-contato span {
    display: inline-block;
}

.formulario {
    padding-top: 60px;
    width: 70%;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label{
    color: black;
}

.botao-enviar {
    background-color: #022049 !important;
    border-color: #022049 !important;
}

.botao-abrir {
    background-color: #022049 !important;
    border-color: #022049 !important;
}

.icone-card {
    font-size: 50px;
}

.card-title {
    font-size: 20px ;
}

.mapa {
    margin-top: 50px;
    margin: auto;
}

.mapa h1 {
    text-align: center;
    font-size: 22px;
    color: #022049;
}

.fa-map-marker-alt {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer {
    background-color: #022049;
    height: 100px;
    margin-top: 100px;
}

.footer-text {
    color: #F4A630;
    line-height: 100px;
    padding-left: 0;
    text-align: center;
    font-size: 40px;
    list-style: none;
}

@media (max-width: 600px) {
    .mapa {
        width: 90%;
    }
}

@media (max-width: 337px) {
    .elemento-separa {
        font-size: 0;
        display: block;
    }
}