body {
    background-color: #f6f8ff;
}

.nav-search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bar-search {
    text-align: right !important;
}



.bottom-add {
    margin-right: 40px !important;
}




.product-table {
    background-color: white;
    margin-top: 10px;
}

.bottom-options {
    margin-right: 5px;
}

.paginaVisualizarProd {
    width: 100% !important;
    height: 27rem;
}






@media(max-width: 530px) {

    .colum-bottons-table {
        width: 40%;
    }

}


@media(max-width: 420px) {

    .colum-bottons-table {
        width: 55%;
    }

}


@media(max-width: 310px) {

    .colum-bottons-table {
        width: auto;
    }

    .bottom-options {
        margin-bottom: 5px;
    }

}